/*Colors*/

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700&display=swap');

$orange-color:#f58f29;
$white : white;
$semi-white : #f2f2f2;
$black:rgb(37, 37, 37);
$deep-green:#293D39;

/*Font*/
$font-family: 'Spartan', sans-serif;



