@media (min-width: 768px) {
  header {
    &::after {
      background-color: rgba(41, 41, 41, 0.767);
    }
    nav {
      .logo,
      .hamburger {
        width: 35px;
      }

      ul {
        height: 300px;
      }
    }

    .hero {
      .hero-container {
        .hero-top {
          width: 90%;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          .hello {
            flex-direction: column;
            width: 30%;

            .hello-line {
              width: 180px;
              margin-right: 0px;
              margin-bottom: 10px;
              align-self: flex-end;
            }

            .helloText {
              text-align: right;
            }
          }

          .name-container {
            text-align: left;
            width: 100%;
            .my-name {
              font-size: 50px;
              margin: auto 0px auto auto;
              text-align: right;
              width: 500px;
            }

            .hero-sub-title {
              width: 54%;
              text-align: left;
              font-size: 1rem;
              width: 500px;
              margin: auto 0px auto auto;
              padding-left: 130px;
            }
          }

          .hero-button-container {
            width: 370px;
            //   padding-left: 220px;
            margin: auto 0px auto auto;

            //   width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .recent-download {
              margin: 20px 0px;

              width: 48%;

              a {
                font-size: 12px;
              }
            }
          }
        }

        //HERO BOTTOM
        .hero-bottom {
          margin: auto auto 20px auto;
          .hero-icons {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 80px;
            padding-top: 6px;

            a {
              text-decoration: none;
              color: $white;
              i {
                font-size: 25px;

                &:hover{
                  color: $orange-color;
                }
              }
            }
          }

          .hero-bottom-right {
            width: 60%;
            .scroll-icon {
              align-items: flex-start;
              width: 100%;

              i {
                margin-left: 30px;
              }
            }
            .lang-menu {
              width: 90px;
              margin: auto 0px auto auto;

              .selected-lang {
                .selectedlang {
                  margin-top: 0px;
                  width: 100%;
                  text-align: right;
                }
              }

              ul {
                top: 30px;
                right: 0px;
                left: unset;
                // li{
                //     a{
                //         &:before {

                //         }
                //         &:hover {

                //         }
                //     }
                // }
              }
            }
          }
        }
      }
    }
  }

  /*MAIN*/
  main {
    //PORTFOLIO
    .projects {
      width: 100%;
      margin-top: 20px;

      .Project-heading {
        h2 {
          font-size: 35px;
          color: $deep-green;
        }
        p {
          font-size: 14px;
          display: block;
          width: 90%;
          margin: auto;
          color: black;
        }
      }

      .project-control {
        .project-text-section {
          //    text-align: center;
          h3 {
            font-size: 25px;
          }
          p {
            font-size: 15px;
          }
        }

        .project-link-mobile {
          display: flex;
          flex-direction: row;
          margin-top: 20px;
          a {
            width: 48%;
            padding: 10px 0px;
            font-size: 14px;
            &:hover {
              background-color: $orange-color;
              outline: none;
              color: $white;
            }
          }
        }
      }
    }

    /*ABOUT ME*/
    .aboutme {
      .about-container {
        padding: 40px;
        .skillset-section {
          
          h4 {
            width: 200px;
          }

          .skill-grid-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 20px;
            text-align: center;
            

            .skill {
              padding: 4px;
              background-color: rgba(117, 131, 117, 0.486);
              // color: $orange-color;
              border-radius: 4px;
              
            }
          }
        }
      }
    }

    /*CONTACT ME*/

    .contactme {
      

      .contact-container {
        display: flex;
        justify-content: space-between;
      
        form {
          width: 50%;
          
        }
        .contact-details {
          margin-top: unset;
          width: 30%;

          .contact-details-control {
           
            margin-top: 40px;
            align-items: flex-start;
          
          }

          .socials {
            .social-type {
              font-size: 10px;
              text-transform: uppercase;
              font-weight: 900;
            }
            .icons-contact {
             
              width: 70px;
              
            
            }
          }
        }
      }
    }
  }

  footer{
    margin-top: 60px;   

    .footer-container{
      width: 100%;
      
      background-color: unset;
      
      flex-direction: row;
      justify-content: unset;
      position: relative;
      padding-bottom: 0px;
      

      &::before{
        width: 75%;
        background-color: rgba(218, 218, 218, 0.774);
        position: absolute;
        content: '';
        height: 100%;
        top: 0;
        left: 0;
      }
      
  
      .footer-logo{

        padding: 0px;
        width: 100px;
        position: relative;
        top: 0px;
      }
  
      nav{
        margin-top: 0px;
        margin-left: 20px;
        position: relative;
        z-index: 3;
        width: 50%;
        ul{
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          
          
          li{
            list-style: none;
            margin-top: unset;
            margin-left: 20px;
            a{
              
              font-size: 15px;
              
  
            }
          }
        }
      }
  
      .download-crafted{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin-top: unset;
        background: $deep-green;
        position: absolute;
        right: 0;
        width: 32%;
        padding: 10px 20px;
  
        .recent-download{
          a{
            color: $white;
            font-weight: 600;
            text-decoration: none;
            font-size: 12px;
          }
        }
  
        p{
          font-size: 10px;
          color: $orange-color;
          text-transform:capitalize;
          margin-top: 15px;
          font-weight: 900;
        }
      }
  
  
    }
  }
}
