@media (min-width: 768px) {
  header {
    &::after {
      background-color: rgba(41, 41, 41, 0.767);
    }
    nav {
      .logo,
      .hamburger {
        width: 35px;
      }

      ul {
        height: 300px;
      }
    }

    .hero {
      .hero-container {
        .hero-top {
          width: 90%;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          .hello {
            flex-direction: column;
            width: 30%;

            .hello-line {
              width: 180px;
              margin-right: 0px;
              margin-bottom: 10px;
              align-self: flex-end;
            }

            .helloText {
              text-align: right;
            }
          }

          .name-container {
            text-align: left;
            width: 100%;
            .my-name {
              font-size: 50px;
              margin: auto 0px auto auto;
              text-align: right;
              width: 500px;
            }

            .hero-sub-title {
              width: 54%;
              text-align: left;
              font-size: 1rem;
              width: 500px;
              margin: auto 0px auto auto;
              padding-left: 130px;
            }
          }

          .hero-button-container {
            width: 370px;
            //   padding-left: 220px;
            margin: auto 0px auto auto;

            //   width: 500px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .recent-download {
              margin: 20px 0px;

              width: 48%;

              a {
                font-size: 12px;
              }
            }
          }
        }

        //HERO BOTTOM
        .hero-bottom {
          margin: auto auto 20px auto;
          .hero-icons {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 80px;
            padding-top: 6px;

            a {
              text-decoration: none;
              color: white;
              i {
                font-size: 25px;
              }
            }
          }

          .hero-bottom-right {
            width: 60%;
            .scroll-icon {
              align-items: flex-start;
              width: 100%;

              i {
                margin-left: 30px;
              }
            }
            .lang-menu {
              width: 90px;
              margin: auto 0px auto auto;

              .selected-lang {
               
                .selectedlang {
                  margin-top: 0px;
                  width: 100%;
                  text-align: right;
                }
              }

              ul {
                top: 30px;
                right: 0px;
                left: unset;
                // li{
                //     a{
                //         &:before {

                //         }
                //         &:hover {

                //         }
                //     }
                // }
              }
            }
          }
        }
      }
    }
  }
}
