@import "config";
@import "utilities";

/*Header styling*/

header {
  background-image: url(../assets/header-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10px;

  &::after {
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.623);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
  }

  nav {
    width: 90%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 3;

    .logo,
    .hamburger {
      width: 30px;
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      background-color: $orange-color;
      width: 100%;
      height: 200px;
      top: 3rem;
      left: 0;
      display: none;

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $white;
          text-transform: uppercase;
        }
      }
    }

    .hamburger {
      display: flex;
      cursor: pointer;
      .close-menu {
        display: none;
      }
    }
  }

  .hero {
    width: 100%;
    margin: auto;
    margin-top: 150px;
    position: relative;
    z-index: 2;

    .hero-container {
      .hero-top {
        .hello {
          width: 62%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          .hello-line {
            width: 30%;
            height: 2px;
            background-color: $orange-color;
            content: "";
            margin-right: 5px;
          }

          .helloText {
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 3px;
            font-size: 14px;
            width: 100%;
          }
        }

        .name-container {
          width: 90%;
          margin: auto;
          .my-name {
            text-transform: uppercase;
            font-size: 40px;

            margin: auto;
            font-weight: bold;
          }

          .hero-sub-title {
            margin: 5px auto 10px auto;
            text-transform: capitalize;
            font-size: 15px;
          }
        }

        .hero-button-container {
          width: 90%;
          margin: 30px auto;

          .recent-download {
            width: 200px;
            margin: 20px 0px;
            border: 2px solid $orange-color;
            padding: 10px 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 300ms ease-in;

            a {
              color: $orange-color;
              text-transform: capitalize;
              text-decoration: none;
              font-size: 14px;
            }

            &:hover {
              background-color: $orange-color;

              outline: none;

              a {
                color: $white;
              }
            }
          }
        }
      }

      .hero-bottom {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .hero-icons {
          display: none;
        }

        .hero-bottom-right {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .scroll-icon {
            order: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            p {
              margin: 10px 0px 10px 0px;
              font-size: 12px;
            }

            i {
              font-size: 20px;
              margin-bottom: 10px;
            }
          }

          .lang-menu {
            display: block;
            position: relative;
            width: 100%;
            // height: 15%;
            .selected-lang {
              cursor: pointer;
              display: flex;
              align-items: center;
              width: 100%;
              vertical-align: middle;
              cursor: pointer;

              img {
                width: 20px;
                height: 20px;
                margin: 5px;
              }
              .selectedlang {
                font-size: 14px;
                margin-top: 2px;
              }
            }

            ul {
              margin: 0;
              padding: 0;
              background-color: $white;
              border: 1px solid #f8f8f8;
              box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
              border-radius: 5px;
              position: absolute;
              top: 30px;
              left: 0px;
              height: 100px;
              width: 150px;

              display: flex;
              flex-direction: column;
              align-items: center;
              display: none;
              // opacity: 0;
              transition: 1s;

              li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                  width: 140px;
                  display: block;
                  padding: 5px 10px;
                  text-decoration: none;
                  color: $black;
                  font-size: 12px;

                  &:before {
                    content: "";
                    /* display: block; */
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                  }

                  &:hover {
                    background-color: $semi-white;
                  }
                }
              }

              .de:before {
                background-image: url("https://www.countryflags.io/de/flat/32.png");
              }

              .en:before {
                background-image: url("https://www.countryflags.io/us/flat/32.png");
              }
            }

            &:hover ul {
              display: block;
              /* position: relative; */
            }
          }
        }
      }
    }
  }
}

/*MAIN STYLING*/

main {
  //PORTFOLIO
  .projects {
    width: 100%;
    margin-top: 10px;

    .Project-heading {
      background-color: $deep-green;
      width: 60%;
      padding: 10px 10px 10px 0px;
      background-color: #293d3928;

      h2 {
        width: 90%;
        margin: auto;
        color: $black;
        font-size: 30px;
      }
      p {
        font-size: 14px;
        display: none;
      }
    }

    .project-control {
      width: 90%;
      margin: 15px auto 30px auto;
      position: relative;

      &::before {
        background-color: rgba(243, 242, 242, 0.233);
        width: 100%;
        height: 80%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      .project-image-section {
        margin-bottom: 10px;
        .project-image {
          margin-bottom: 2px;
        }

        .project-link-desktop {
          display: none;
        }
      }

      .project-text-section {
        //    text-align: center;
        h3 {
          color: $deep-green;
          margin-bottom: 10px;
          text-align: center;
        }
        p {
          font-size: 12px;
          width: 100%;
          line-height: 1.5;
          color: $black;
        }
        .project-second-para {
          margin-top: 10px;
        }
      }

      .project-link-mobile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        a {
          width: 80%;
          text-align: center;
          margin: auto auto 10px auto;
          text-decoration: none;
          text-transform: uppercase;
          border: 2px solid $orange-color;
          padding: 8px 0px;
          color: $orange-color;
          font-size: 12px;
        }
      }
    }
  }

  /*ABOUT ME*/

  .aboutme {
    margin-top: 30px;
    padding-bottom: 30px;

    .Project-heading {
      background-color: $deep-green;
      width: 60%;
      padding: 10px 10px 10px 0px;
      background-color: #293d3928;
      margin: auto 0px auto auto;

      h2 {
        width: 90%;
        margin: auto;
        color: $black;
        font-size: 30px;
      }
    }
    .about-container {
      background-color: $deep-green;
      width: 100%;
      margin: auto;
      margin-top: 15px;
      padding: 20px;

      .about-text-container {
        line-height: 1.5;

        .about-hello {
          margin-bottom: 5px;
        }

        .about-below-paragraph {
          margin: 20px 0px;

          a {
            text-transform: uppercase;
            color: $orange-color;
            text-decoration: none;
          }
        }
      }

      .skillset-section {
        h4 {
          margin: auto auto 15px auto;
          padding: 10px;
          background-color: rgba(255, 255, 255, 0.486);
          color: $black;
          width: 120px;
          text-align: center;
        }

        .skill-grid-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 10px;
          text-align: center;

          .skill {
            padding: 4px;
            background-color: rgba(117, 131, 117, 0.486);
            // color: $orange-color;
            border-radius: 4px;
            font-size: 13px;
          }
        }
      }
    }
  }

  /*CONTACT ME*/

  .contactme{
    color: black;
    .Project-heading {
      background-color: $deep-green;
      width: 60%;
      padding: 10px 10px 10px 0px;
      background-color: #293d3928;
      margin-bottom: 20px;


      h2 {
        width: 90%;
        margin: auto;
        color: $black;
        font-size: 30px;
      }
      
    }

    .contact-container{
      width: 90%;
      margin: auto;
      padding-bottom: 40px;

      form{
        .form-top-div{
          text-align: center;
          .form-heading{
            
            color: $deep-green;
            margin-bottom: 20px;

          }

          #success-message{
            color: green;
            font-size: 14px;
            margin: 10px 0px;
            display: none;
            
          }
        }

        .form-container{
          .form-control{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            input{
              width: 100%;
              height: 40px;
              padding: 10px;
              border-radius: 2px;
              outline: none;
              border: 1px solid $form-border;
              margin-bottom: 10px;

            }
            small{
              margin: 5px 0px 10px 0px;
              color: rgb(223, 67, 67);
              display: none;
              

            }

            textarea{
              width: 100%;
              height: 80px;
              border: 1px solid $form-border;
              padding: 10px;
              outline: none;
            }
          }

          button{
            width: 100%;
            height: 40px;
            text-align: center;
            outline: none;
            background-color: $orange-color;
            color: white;
            border: none;
            margin-top: 10px;
            cursor: pointer;
            transition: 300ms ease-in;

            &:hover{
              background-color: $deep-green;
            }
          }

        }

      }
      .contact-details{
        margin-top: 50px;


        .contact-details-control{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          align-items: center;

          .contact-type{
            font-size: 10px;
            font-weight: 700;
            color: $black;
            text-transform: capitalize;
            margin-bottom: 5px;
          }

          .contact-main{
            font-weight: 900;
            font-size: 16px;
            color: $deep-green;
            

          }


        }

        .socials{
          .icons-contact{
            display: flex;
            width: 20%;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            a{
              color: $deep-green;
              i{
               
                font-size: 26px;
                &:hover{
                  color: $orange-color;
                }
              }
            }

          }
        }

      }
    }


  }
}

footer{
  margin-top: 70px;
  
  

  .footer-container{
    width: 100%;
    margin: auto;
    display: flex;
    background-color: rgba(218, 218, 218, 0.774);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px;

    .footer-logo{
      background-color: $deep-green;
      padding: 10px;
      width: 70px;
      position: absolute;
      top: -30px;
    }

    nav{
      margin-top: 50px;
      ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        li{
          list-style: none;
          margin-top: 10px;
          a{
            text-transform: uppercase;
            text-decoration: none;
            color: $deep-green;
            font-weight: 700;
            transition: 200ms ease-in;
            font-size: 14px;
            &:hover{
              color: $orange-color;
            }

          }
        }
      }
    }

    .download-crafted{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin-top: 10px;

      .recent-download{
        a{
          color: $deep-green;
          font-weight: 600;
          text-decoration: none;
        }
      }

      p{
        font-size: 10px;
        color: $orange-color;
        text-transform:capitalize;
        margin-top: 15px;
        font-weight: 900;
      }
    }


  }
}

/*MEDIA QUERY FOR TABLET*/

@import "tablet";
@import "desktop";

.nav-colored {
  background-color: $deep-green;
  z-index: 1000;
  width: 100%;
  position: fixed;
    top: 0;
    margin: auto;
    padding: 0px 50px;

}
.nav-transparent {
  background-color: transparent;
}
